:root {
  --bg-cover: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
}

:root {
  --font: "IBM Plex Mono";
  --text-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

:root {
  --rec: "rec";
  --record: block;
  --bt-color: #ff0070;
  --bt-color-shadow: rgba(255, 0, 112, 0.4);
  --bt-color-active: #ff0070;
}

:root {
  --small-gap: 10px;
  --middle-gap: 20px;
}